<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">ASP.NET Web API</a></p>
        </div>
    </div>
</header>
<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>ASP.NET Web API へようこそ!</h1>
                <h2>ASP.NET Web API の開発を簡単に始めるには、このテンプレートのコードを変更してください。</h2>
            </hgroup>
            <p>
                ASP.NET Web API を使用すると、アプリケーション、データ、およびサービスを HTTP 経由で
                直接 Web に公開することができます。
            </p>
            <p>
                ASP.NET Web API の詳細については、
<a href="http://go.microsoft.com/fwlink/?LinkID=238195" title="ASP.NET Web API Website">http://asp.net/web-api</a> を参照してください。
ページには、 <mark>ビデオ、チュートリアル、およびサンプルが含まれており、</mark> ASP.NET Web API を最大限に活用するために役立ちます。
ASP.NET Web API について不明な点がある場合は、
<a href="http://go.microsoft.com/fwlink/?LinkID=238196" title="ASP.NET Web API フォーラム">フォーラム</a>を参照してください。
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        <h3>次の手順をお勧めします。</h3>
        <ol class="round">
            <li class="one">
                <h5>はじめに</h5>
                ASP.NET Web API は、ブラウザーやモバイル デバイスなどの幅広いクライアントにアクセスする 
HTTP サービスの構築を簡単にするフレームワークです。ASP.NET Web API 
は .NET Framework で RESTful アプリケーションを構築するために最適なプラットフォームです。
<a href="http://go.microsoft.com/fwlink/?LinkId=245160">詳細...</a>
            </li>

            <li class="two">
                <h5>NuGet パッケージを追加してコーディングを簡単に始める</h5>
                NuGet により、無料のライブラリやツールのインストールと更新が簡単になります。
            <a href="http://go.microsoft.com/fwlink/?LinkId=245161">詳細...</a>
            </li>
            <li class="three">
                <h5>Web ホスティングを検索する</h5>
                アプリケーションの機能と価格の適切な組み合わせを提供する Web ホスティング会社を
簡単に見つけることができます。
<a href="http://go.microsoft.com/fwlink/?LinkId=245164">詳細...</a>
            </li>
        </ol>
    </section>
</div>
